@page "/About"

<div class="centering">
    <h1>About</h1>

    <h2>So what that web app for</h2>
    <h4>Simply for changing your track</h4>
    <h4>
        In more detail you may load your own file from pc, enter link from youtube, authorize with spotify
        and load tracks or playlists from its.
    </h4>
    <h4>
        After track is loaded you may change 3 main stats: Tempo (the speed of track), Pitch (how low or high track will be)
        and Rate (like tempo), then you press "Change" button and boom your amazing track done and you may download it.
    </h4>
</div>

@code {

}
