@page "/youtubemusic"
@using SoundChangerBlazorServer.Services.Interfaces
@using SoundChangerBlazorServer.Services.YoutubeServices
@using System.Text.Json;
@using System.Text

@inject YoutubeMusicService _musicService;
@inject INextPageTokenService _nextPageTokenService;
@inject ITokenStorageService _tokenStorage;
@inject UserService _userService;

@code {
    private const string SavedTracksPath = "Tracks.json";
    public IEnumerable<YoutubeTrack> Tracks = new List<YoutubeTrack>();
    public IEnumerable<YoutubeTrack> MostPopularTracks = new List<YoutubeTrack>();

    private int CurrentPage = 1;
    private int ItemsPerPage = 10;
    private int MaxPages = 0;

    protected override async Task OnInitializedAsync()
    {
        var token = await _tokenStorage.GetTokensAsync(_userService.GetCurrentUserId());
        if (token.AccessToken == null)
        {
            await _musicService.Authorize();
        }
        if (token.AccessToken != null)
        {

            var allTracks = await GetSavedTracksFromFile();
            if (allTracks.Count() == 0)
            {
                Tracks = await GetNewTracks();
                while (Tracks.Count() < 10)
                {
                    Tracks = Tracks.Concat(await GetNewTracks());
                }
                await SaveTracks(Tracks);
                return;
            }
            Tracks = await GetFormatedTracks(allTracks);
            MaxPages = (int)Math.Ceiling(allTracks.Count() / 10.0);
            MostPopularTracks = await _musicService.GetMostPolularTracksAsync();
        }
    }

    private async Task NextTracks()
    {
        if (CurrentPage == MaxPages)
        {
            ++CurrentPage;
            ++MaxPages;
            Tracks = await GetNewTracks();
            while (Tracks.Count() < 10)
            {
                Tracks = Tracks.Concat(await GetNewTracks());
            }
            await SaveTracks(Tracks);
        }
        else
        {
            ++CurrentPage;
            Tracks = await GetFormatedTracks(await GetSavedTracksFromFile());
        }
    }

    private async Task PreviousTracks()
    {
        --CurrentPage;
        Tracks = await GetFormatedTracks(await GetSavedTracksFromFile());
    }

    private async Task<IEnumerable<YoutubeTrack>> GetFormatedTracks(IEnumerable<YoutubeTrack> tracks)
        => tracks.Skip((CurrentPage - 1) * ItemsPerPage)
                 .Take(10);

    private async Task<IEnumerable<YoutubeTrack>> GetSavedTracksFromFile()
    {
        try
        {
            IEnumerable<YoutubeTrack> tracks;
            using (var fs = File.OpenRead(SavedTracksPath))
            {
                tracks = await JsonSerializer.DeserializeAsync<IEnumerable<YoutubeTrack>>(fs) ?? Enumerable.Empty<YoutubeTrack>();
            }

            return tracks;
        }
        catch
        {
            return Enumerable.Empty<YoutubeTrack>();
        }
    }

    private async Task SaveTracks(IEnumerable<YoutubeTrack> tracks)
    {
        await File.WriteAllTextAsync(SavedTracksPath, JsonSerializer.Serialize((await GetSavedTracksFromFile()).Concat(tracks)));
    }

    private async Task<IEnumerable<YoutubeTrack>> GetNewTracks()
    {
        var data = await _musicService.GetLikedTracksAsync(_nextPageTokenService.NextPageToken);
        _nextPageTokenService.FirstNextPageToken ??= data.nextPageToken;
        _nextPageTokenService.NextPageToken = data.nextPageToken;
        return data.tracks;
    }

    private async Task SearchFor(ChangeEventArgs e)
    {
        var q = e.Value?.ToString();
        var allTracks = await GetSavedTracksFromFile();
        if (string.IsNullOrEmpty(q))
        {
            Tracks = await GetFormatedTracks(allTracks);
            return;
        }

        var lowerQ = q?.ToLowerInvariant() ?? string.Empty;

        Tracks = allTracks.Where(t => (t.Title?.ToLowerInvariant().Contains(lowerQ) == true) ||
                                      (t.ChannelTitle?.ToLowerInvariant().Contains(lowerQ) == true) ||
                                      (lowerQ.Contains(t.Title?.ToLowerInvariant() ?? "") == true) ||
                                      (lowerQ.Contains(t.ChannelTitle?.ToLowerInvariant() ?? "") == true));
    }

    private bool IsMostPopular = false;
}

<h3>YoutubeMusic</h3>

<div>
    <button @onclick="() => IsMostPopular = !IsMostPopular" class="btn btn-dark">@(IsMostPopular ? "Liked tracks" : "Top charts")</button>
    <button @onclick="PreviousTracks" class="btn btn-dark" disabled="@(CurrentPage == 1)">Back</button>
    <button @onclick="NextTracks" class="btn btn-dark">Next</button>
    <div>Search</div>
    <input type="text" placeholder="Enter title" class="w-25" @oninput="@SearchFor" />
    <YoutubeVideoList Videos="IsMostPopular ? MostPopularTracks : Tracks"></YoutubeVideoList>
</div>