@inherits LayoutComponentBase

<PageTitle>SoundChangerBlazorServer</PageTitle>

<div class="page">
    <main>
        <div class="top">
            <a class="link-light" href="/">Main</a>
            <a class="link-light" href="About">About</a>
            <a class="link-light" href="YoutubeMusic">Youtube Music</a>
        </div>
        <div class="content" style="color: rgba(255, 255, 255, 0.9);">
            @Body
        </div>
    </main>
</div>
