@using SoundChangerBlazorServer.Services.Interfaces
@inherits LayoutComponentBase

@inject IAudioService AudioService;


<PageTitle>SoundChangerBlazorServer</PageTitle>
<head>
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
</head>
<div class="page">
    <main>
        <div class="top">
            <a class="link-light" href="/">Main</a>
            <a class="link-light" href="YoutubeMusic">Youtube Music</a>
            <div style="float: right">@AudioService.GetAllSize().Result.ToString("F2")</div>
        </div>
        <div class="content" style="color: rgba(255, 255, 255, 0.9);">
            @Body
        </div>
    </main>
</div>
